*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: Helvetica, sans-serif;
    background: #f1f1f1;
}

/* --------------- Navigation --------------- */

nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 90px;
    background: black;
}
nav ul {
    width: 100%; 
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.effet-nav {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 50;
    letter-spacing: 1px;
  }
  .effet-nav * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .effet-nav li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1.5em;
    padding: 0;
  }
  .effet-nav a {
    padding: 0.4em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    text-decoration: none;
    display: inline-block;
  }
  .effet-nav a:before {
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    top: 25%;
    bottom: 25%;
    left: 0;
    right: 0;
    border-top: 3px solid #e88d0d;
    border-bottom: 3px solid #e88d0d;
  }
  .effet-nav a:hover,
  .effet-nav .current a {
    color: #ffffff;
  }
  .effet-nav a:hover:before,
  .effet-nav .current a:before {
    opacity: 1;
    top: 0;
    bottom: 0;
  }

.logoFB{
    max-width: 30px;
    max-height: 30px;
    margin: 8px 8px 8px 5px;
 }
@media screen and (max-width: 550px) {
    nav li {
        margin: 0 8px;
    }
    nav a {
        font-size: 15px;
    }
    
}

/*------------ Accueil Fondu ----------*/

.accueil {
    height: 800px;
    display: flex;
    overflow: hidden;
}

.bloc-gauche-accueil {
    position: relative;
    width: 40%;
    height: 100%;
    background: #000;
    box-shadow: 90px 0 100px 100px #000;
}
h1 {
    color: #f1f1f1;
    font-family: Helvetica, sans-serif;
    font-size: 90px;
    padding-top: 200px;
    padding-bottom: 20px;
    margin-left: 8vw;
    white-space: nowrap;
}

.accueil p {
    
    color: #f1f1f1;
    font-size: 30px;
    text-align: justify;
    width: 500px;
    margin-left: 8vw;
    margin-bottom: 10px;
    line-height: 1.3;
}

.cont-btn-home {
    display: flex;
}
.btn-accueil {
    font-size: 18px;
    text-align: center;
    color:  #f1f1f1;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 25%;
    border: 1px solid #f1f1f1;
    width: 150px;
    cursor: pointer;
  
}
.btn-accueil:hover {
    transition: all 0.2s ease;
    color: #000;
    background: #f1f1f1;
}
.b1 {
    margin-left: 80%;
}

.bloc-droit-accueil {
    background-image: url(Romain.Page.d.acceuil.jpg);
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;
    background-position: 70% 10%;
}


/* Medias accueil fondu */

@media screen and (max-width: 1350px) {
    .bloc-gauche-accueil {
        width: 60%;
    }
    .bloc-droit-accueil {
        background-position: 72% 10%;
    }
}

@media screen and (max-width: 750px) {
    .accueil {
        height: 600px;
    }
    h1 {
        font-size: 50px;
        padding-top: 120px;
    }
    .accueil p {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .btn-accueil {
        font-size: 18px;
        padding: 12px;
        margin-top: 20px;
    }
    .bloc-gauche-accueil {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {

    .accueil {
        height: 450px;
    }
    h1 {
        font-size: 40px;
        padding-top: 100px;
        margin-left: 2vw;
    }
    .accueil p {
        font-size: 20px;
        margin-left: 2vw;
        margin-bottom: 15px;
    }
    .btn-accueil {
        padding: 8px;
        font-size: 16px;
    }
    .b1 {
        margin-left: 2vw;
    }
    .b2 {
        margin-left: 10px;
    }
    .bloc-gauche-accueil {
        box-shadow: 20px 0 100px 100px #000;
        width: 40%;
    }

}


/*------------ Section infos ------------*/

.titre-section-info {
    color: #000;
    text-align: center;
    font-size: 45px;
    padding: 50px 350px 30px 350px;
    font-family: Helvetica, sans-serif;
}

.lien-div{
    text-decoration: none;
}
.section-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 60px;
    background: #f1f1f1;
    position: relative;
}
.carte-info {
    width: 350px;
    height: auto;
    margin: 0 20px 80px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 100;
}
.container-photo-info img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.carte-info h2 {
    color: #333;
    text-align: center;
    font-size: 25px;
    padding: 20px 5px;
}
.carte-info p {
    color: #333;
    text-align: center;
    font-size: 23px;
    padding: 0 10px 15px 0;
}

@media screen and (max-width: 1400px) {
    .deco-infos {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .titre-section-info {
        font-size: 50px;
    }
}

@media screen and (max-width: 550px) {
    .titre-section-info {
        font-size: 32px;
        padding: 40px 20px 40px;
    }
    .carte-info {
        margin: 0 10px 45px;
    }
}

/* --------------- Parallax --------------- */

.parallax {
    background-image: url(photo/alexander-schimmeck-Wu9Mead2qu0-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parallax-txt {
    font-size: 100px;
    color: #fff;
    text-align: center;
    font-weight: 700;
}
@media screen and (max-width: 550px){
    .parallax-txt {
        font-size: 50px;
    }
}
/*------------ Section formulaire ------------*/
.logo-wing{
    float: left;
    margin-left: 100px;
    width: 15%;
}
.titre-contact {
    border-top: 3mm ridge rgb(200, 131, 12);
    text-align: center;
    font-size: 50px;
    padding: 20px 0;
}

form {
    width: 30%;
    margin: 0 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    padding-bottom: 100px;
    position: relative;
    
}

label, input {
    width: 100%;
    font-size: 15px;
    margin: 5px 0px 0px 200px;
    border-radius: 5px;
}

form input {
    padding: 10px 5px;
}

input:nth-child(4){
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    font-size: 10px;
    padding: 10px;
    margin: 0px 0px 0px 200px;
    border-radius: 5px;
}
label:nth-child(5){
    margin-bottom: 10px;
}

.form-btn {
    display: block;
    margin-top: 50px;
    margin-left: 36%;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #333;
}

@media screen and (max-width: 1100px){
    #contact {
        width: 80%;
    }
}

footer {
    text-align: center;
    padding: 15px 0;
    border-top: 3mm ridge rgb(200, 131, 12);
}

/*------------ Qi Gong page ------------*/

/*------------ En tête Qi Gong --------*/
.logo-qi-gong{
    float: left;
    margin-left: 10%;
    margin-top: 6%;
}

.head{
    text-align: center;
    font-size: 25px;
    padding: 30px 80px;
    margin: 20px 350px;
    font-family:  Arial, Helvetica, sans-serif;
}

/*------------ Section article--------*/
.carte-descriptif h2{
    text-align: center;
    height: 40px;
}
.carte-descriptif {
    width: 30%;
    height: auto;
    margin: 0 20px 80px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 100;
    line-height:130%
}
.carte-descriptif li {
    list-style-type: none;
    margin: 5px;
}


/*------------ 2eme partie--------*/
.suit{
    text-align: center;
    font-size: 25px;
    padding: 10px 80px 50px;
    margin: 0px 350px;
    font-family:  Arial, Helvetica, sans-serif;
}


/*------------ conférences--------*/
.conférences{
    text-align: center;
    font-size: 25px;
    padding: 30px 10px;
    margin: 0px 350px;
    font-family:  Arial, Helvetica, sans-serif;
    
}

.conférences li{
    list-style-type:circle;
}

/*------------ Wing Chun--------*/

/*------------En tête Wing Chun --------*/

.logo-wing-chun{
    float: left;
    margin-left: 8%;
    margin-top: 3%;
}
/*------------ Section article--------*/

.carte-principes {
    width: 500px;
    height: auto;
    margin: 0px 00px 80px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 100;
    line-height:130%
}
.carte-principes h2{
    text-align: center;
    height: 40px;
}
 .carte-principes li{
    list-style-type: none;
    margin: 5px;
    text-align: justify;
 }

/*------------ Histoire--------*/

.history{
    text-align: center;
    font-size: 25px;
    padding: 30px 10px;
    margin: 0px 350px;
    font-family:  Arial, Helvetica, sans-serif;
}

/*------------ Soins et Accompagnement--------*/


/*------------ Section article--------*/

.carte-soins {
    width: 25%;
    height: auto;
    margin: 0 20px 80px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 100;
    word-spacing: 10%;
}
.carte-soins h2{
    text-align: center;
    height: 40px;
}
 .carte-soins li{
    list-style-type: none;
    margin: 5px;
    text-align: justify;
 }